@import "../../stylesheets/sass-bem";

@include block('block', 'component') {

  @include element('element') {
    prop: 1;

    @include modifier('local-modifier') {
      prop: 2;

      @include modifies-element('inner-element') {
        prop: 5;
      }

      @include modifies-element-modifier('inner-element', 'inner-local-modifier') {
        prop: 8;
      }
    }
  }

  @include element('inner-element') {
    prop: 3;

    @include modifier('inner-local-modifier') {
      prop: 7;
    }
  }

  @include modifier('another-global-modifier') {
    prop: 9;
  }

  @include modifier('global-modifier') {
    @include modifies-element('element') {
      prop: 4;
    }

    @include modifies-element('inner-element', 'element') {
      prop: 6;
    }

    @include modifies-element-modifier('inner-element', 'inner-local-modifier') {
      prop: 8;
    }

    @include modifies-modifier('another-global-modifier') {
      prop: 10;
    }
  }
}
